  .Mujer {
    display: flex;
    padding-top: 100px;
    padding-bottom: 150px;
    flex-direction: column;
    background: linear-gradient(180deg,  #e7e7e7, #555555);
  }
  
  .title {
    font-size: 3em;
    color: #2e2e2e;
    font-weight: 400;
    text-align: center;
  }

  .imageboxing {
    width: 500px; 
  }

  .imageboxingp {
    width: 300px; 
  }

  .imageBox div p {
    font-weight: bold;
   }

   .imageBox {
    display: flex;
    justify-content: center;
    align-items: center;
   }
   